*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
}
body{
    background-color: #243b55;   
}
.navbar{
    background-color: #243b55;
}
.offcanvas-header{
    background-color: #243b55;
}
.offcanvas-body{
    background-color: #243b55;
}
.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #98C1D9;
}
.sensado{
    font-size: 5rem;
}
#powerButton{
    background-color: #243b55 ;
    border: none;
}
#logout{
    border: none;
    color: black;
}
#homeid{
    border: none;
    color: black;
}
#logout:hover{
    background-color: #E0FBFC;
}
#homeid{
    background-color: #E0FBFC;
}
